<div class="page-header">
    <h1>Tárgyfelvétel az IK-n</h1>
</div>

<p>
    Regisztráció után a diákok itt tudják felvenni a tárgyaikat, a tanárok pedig itt tudnak hozzáadni általuk oktatott tárgyakat.
</p>
